In [3]:
import pandas as pd

In [23]:
!ls ../outputs/reg/output

best_model_gamma_0.1.csv     cnn_best_model_gamma_0.1.csv
best_model_gamma_0.25.csv    cnn_best_model_gamma_1.0.csv
best_model_gamma_0.5.csv     iw_base_0.csv
best_model_gamma_0.75.csv    iw_base_10.csv
best_model_gamma_0.9.csv     iw_base_3.csv
best_model_gamma_1.0.csv     iw_cnn_0.csv
best_model_spec_False.csv    iw_cnn_10.csv
best_model_spec_True.csv     iw_cnn_3.csv

In [28]:
iw_0 = pd.read_csv("../outputs/reg/output/iw_base_0.csv").iloc[-1]
iw_3 = pd.read_csv("../outputs/reg/output/iw_base_3.csv").iloc[-1]
iw_10 = pd.read_csv("../outputs/reg/output/iw_base_10.csv").iloc[-1]


df = pd.DataFrame({'vae': iw_0,
              'IW k=3': iw_3,
              'IW k=10': iw_10,
             }).iloc[4:-1]

df.to_csv('vector_model.csv')

In [29]:
df

                   vae     IW k=3    IW k=10
train_lm     88.196933  86.421778  87.404469
val_lm       91.448650  91.171099  90.826698
test_lm      91.171174  90.619397  90.596070
train_recon  69.364796  70.426865  75.931608
val_recon    71.462821  73.849195  77.297038
test_recon   71.234604  73.436782  76.982264
train_selbo  91.644721  91.303252  95.060595
val_selbo    93.408845  94.495754  96.124573
test_selbo   93.155600  93.998753  95.752107

In [30]:
iw_0 = pd.read_csv("../outputs/reg/output/iw_cnn_0.csv").iloc[-1]
iw_3 = pd.read_csv("../outputs/reg/output/iw_cnn_3.csv").iloc[-1]
iw_10 = pd.read_csv("../outputs/reg/output/iw_cnn_10.csv").iloc[-1]


df = pd.DataFrame({'vae': iw_0, 'IW k=3': iw_3, 'IW k=10': iw_10}).iloc[4:-1]

df.to_csv('cnn_model.csv')